 * {
     text-decoration: none;
     font-size: 30px;
     margin: 0;
     padding: 0;
     border: 0;
 }



.header {
    margin: 2vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    border: 5px solid red;
}